body {
    background-color: #fffbf7;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 16px;
    margin-bottom: 16px;
}

h1 {
    color: #025157;
    text-align: center;
    font-family: 'Concert One', cursive;
    font-size: 44px;
}

h2, h3, h4, h5{
  font-family: 'Nanum Myeongjo', serif;
}

section{
  margin: 50px;
}

p {
    color: #8b8b8bcc;
    font-size: 16px;
    font-family: 'Nanum Myeongjo', serif;
}

button {
    color: #fff;
    background-color: #006865;
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 999em;
    border: 0;
    height: 36px;
    width: 88px;
}

button:hover{
  border: 2px solid #DCDCDC;
}

form > input{
  width: 24%;
  margin: 0 12px 0 10%;
}

form > button{
  margin: 0 4px;
}

.header{
  font-family: 'Nanum Myeongjo', serif;
  height: 4rem;
  margin: 8px 0;
}

.header > * {  
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 8px 8px;
}

.logo{
  width: 15%;
}

.logo > img {
  width: 44px;
  height: 44px;
}

.navbar{
  width: 60%;
  color: #025157;
  font-weight: 500;
}

.navbar > ul > li{
  display: inline-block;
  padding: 0 20px;
  cursor: pointer;
}

.navbar > ul > li:hover{
  border-bottom: 2px solid #006865;
}
  
.actions {
  width: 15%;
  font-weight: 600;
  text-align: center;
}
  
.actions > a {
  color: #006865;
  padding: 0 8px;
  cursor: pointer;
}

.actions > button{
  font-size: 16px;
}

.logo_image{
  width: 10%;
  height: 44px;
}

.main {
  padding: 80px 44px 0;
  text-align: center;
}

.banner{
  text-align: center;
  padding: 0 44px;
}

.capterra_image{
  width: 11rem;
  height: 4rem;
  padding: 0 2px 8px 0;
  display: inline-block;
  margin: auto;
}

.rating{
  width: 6rem;
  height: 3rem;
  padding: 0 0 12px 2px;
  display: inline-block;
  margin: auto;
}

.web_image{
  width: 62rem;
  height: 32rem;
  padding: 8px 0;
  display: block;
  margin: auto;
  margin-left: 15%;
}